In [2]:
import numpy as np
import pandas as pd

In [3]:
gp = pd.read_csv("/Users/sdnan/Documents/Study/Fall 2018/CMPE256/Project/NHL/Dataset/game_plays_smallset.csv")

In [4]:
gp.shape

(28041, 20)

In [5]:
gp = gp.query("event == 'Blocked Shot'")

In [6]:
gp.shape

(2509, 20)

In [7]:
gp.head()

,play_id,game_id,play_num,team_id_for,team_id_against,event,secondaryType,x,y,period,periodType,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y,rink_side
8,2012030221_6,2012030221,6,6.0,3.0,Blocked Shot,NaN,-73.0,8.0,1,REGULAR,35,1165,5/16/2013 23:40,0,0,Matt Bartkowski blocked shot from Derick Brassard,-73.0,8.0,left
12,2012030221_10,2012030221,10,6.0,3.0,Blocked Shot,NaN,-67.0,11.0,1,REGULAR,74,1126,5/16/2013 23:41,0,0,Zdeno Chara blocked shot from Ryan McDonagh,-67.0,11.0,left
19,2012030221_17,2012030221,17,3.0,6.0,Blocked Shot,NaN,-59.0,-34.0,1,REGULAR,179,1021,5/16/2013 23:43,0,0,Arron Asham blocked shot from Johnny Boychuk,59.0,34.0,right
28,2012030221_26,2012030221,26,3.0,6.0,Blocked Shot,NaN,57.0,1.0,1,REGULAR,354,846,5/16/2013 23:46,0,0,Ryan McDonagh blocked shot from Gregory Campbell,-57.0,-1.0,right
39,2012030221_37,2012030221,37,6.0,3.0,Blocked Shot,NaN,-72.0,-11.0,1,REGULAR,439,761,5/16/2013 23:51,0,0,David Krejci blocked shot from Rick Nash,-72.0,-11.0,left

In [8]:
gp['game_id'] = gp['game_id'].astype(str)

In [9]:
gp['team_id_for'] = gp['team_id_for'].mul(-1)

In [10]:
gp.head()

,play_id,game_id,play_num,team_id_for,team_id_against,event,secondaryType,x,y,period,periodType,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y,rink_side
8,2012030221_6,2012030221,6,-6.0,3.0,Blocked Shot,NaN,-73.0,8.0,1,REGULAR,35,1165,5/16/2013 23:40,0,0,Matt Bartkowski blocked shot from Derick Brassard,-73.0,8.0,left
12,2012030221_10,2012030221,10,-6.0,3.0,Blocked Shot,NaN,-67.0,11.0,1,REGULAR,74,1126,5/16/2013 23:41,0,0,Zdeno Chara blocked shot from Ryan McDonagh,-67.0,11.0,left
19,2012030221_17,2012030221,17,-3.0,6.0,Blocked Shot,NaN,-59.0,-34.0,1,REGULAR,179,1021,5/16/2013 23:43,0,0,Arron Asham blocked shot from Johnny Boychuk,59.0,34.0,right
28,2012030221_26,2012030221,26,-3.0,6.0,Blocked Shot,NaN,57.0,1.0,1,REGULAR,354,846,5/16/2013 23:46,0,0,Ryan McDonagh blocked shot from Gregory Campbell,-57.0,-1.0,right
39,2012030221_37,2012030221,37,-6.0,3.0,Blocked Shot,NaN,-72.0,-11.0,1,REGULAR,439,761,5/16/2013 23:51,0,0,David Krejci blocked shot from Rick Nash,-72.0,-11.0,left

In [11]:
gp['game-teamid'] = gp[['game_id', 'team_id_for']].apply(lambda x: ''.join(x.astype(str)), axis=1)

In [13]:
gp.head()

,play_id,game_id,play_num,team_id_for,team_id_against,event,secondaryType,x,y,period,...,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y,rink_side,game-teamid
8,2012030221_6,2012030221,6,-6.0,3.0,Blocked Shot,NaN,-73.0,8.0,1,...,35,1165,5/16/2013 23:40,0,0,Matt Bartkowski blocked shot from Derick Brassard,-73.0,8.0,left,2012030221-6.0
12,2012030221_10,2012030221,10,-6.0,3.0,Blocked Shot,NaN,-67.0,11.0,1,...,74,1126,5/16/2013 23:41,0,0,Zdeno Chara blocked shot from Ryan McDonagh,-67.0,11.0,left,2012030221-6.0
19,2012030221_17,2012030221,17,-3.0,6.0,Blocked Shot,NaN,-59.0,-34.0,1,...,179,1021,5/16/2013 23:43,0,0,Arron Asham blocked shot from Johnny Boychuk,59.0,34.0,right,2012030221-3.0
28,2012030221_26,2012030221,26,-3.0,6.0,Blocked Shot,NaN,57.0,1.0,1,...,354,846,5/16/2013 23:46,0,0,Ryan McDonagh blocked shot from Gregory Campbell,-57.0,-1.0,right,2012030221-3.0
39,2012030221_37,2012030221,37,-6.0,3.0,Blocked Shot,NaN,-72.0,-11.0,1,...,439,761,5/16/2013 23:51,0,0,David Krejci blocked shot from Rick Nash,-72.0,-11.0,left,2012030221-6.0

In [14]:
n = len(gp)
gp.loc[:,'event'] = np.ones(n)

In [15]:
gp.head()

,play_id,game_id,play_num,team_id_for,team_id_against,event,secondaryType,x,y,period,...,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y,rink_side,game-teamid
8,2012030221_6,2012030221,6,-6.0,3.0,1.0,NaN,-73.0,8.0,1,...,35,1165,5/16/2013 23:40,0,0,Matt Bartkowski blocked shot from Derick Brassard,-73.0,8.0,left,2012030221-6.0
12,2012030221_10,2012030221,10,-6.0,3.0,1.0,NaN,-67.0,11.0,1,...,74,1126,5/16/2013 23:41,0,0,Zdeno Chara blocked shot from Ryan McDonagh,-67.0,11.0,left,2012030221-6.0
19,2012030221_17,2012030221,17,-3.0,6.0,1.0,NaN,-59.0,-34.0,1,...,179,1021,5/16/2013 23:43,0,0,Arron Asham blocked shot from Johnny Boychuk,59.0,34.0,right,2012030221-3.0
28,2012030221_26,2012030221,26,-3.0,6.0,1.0,NaN,57.0,1.0,1,...,354,846,5/16/2013 23:46,0,0,Ryan McDonagh blocked shot from Gregory Campbell,-57.0,-1.0,right,2012030221-3.0
39,2012030221_37,2012030221,37,-6.0,3.0,1.0,NaN,-72.0,-11.0,1,...,439,761,5/16/2013 23:51,0,0,David Krejci blocked shot from Rick Nash,-72.0,-11.0,left,2012030221-6.0

In [16]:
#gp['TotalBlockedShots'] = gp.groupby(['game-teamid'])[["event"]].sum()

In [17]:
gp_new = gp.groupby(['game-teamid']).agg({'event': np.sum})

In [18]:
gp_new.head()

                event
game-teamid
2012030111-2.0   12.0
2012030111-5.0   22.0
2012030112-2.0   13.0
2012030112-5.0   19.0
2012030113-2.0   15.0

In [19]:
gp_new.to_csv('Blockedshots.csv', sep=',', encoding='utf-8')

In [33]:
gp_new =  pd.read_csv("/Users/sdnan/Documents/Study/Fall 2018/CMPE256/Project/Blockedshots.csv")

In [34]:
gp_new.head()

      game-teamid  event
0  2012030111-2.0   12.0
1  2012030111-5.0   22.0
2  2012030112-2.0   13.0
3  2012030112-5.0   19.0
4  2012030113-2.0   15.0

In [21]:
gts = pd.read_csv("/Users/sdnan/Documents/Study/Fall 2018/CMPE256/Project/NHL/Dataset/game_teams_stats.csv")

In [22]:
gts.head()

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways
0,2012030221,3,away,False,OT,John Tortorella,2,35,44,8,3,0,44.8,17,7
1,2012030221,6,home,True,OT,Claude Julien,3,48,51,6,4,1,55.2,4,5
2,2012030222,3,away,False,REG,John Tortorella,2,37,33,11,5,0,51.7,1,4
3,2012030222,6,home,True,REG,Claude Julien,5,32,36,19,1,0,48.3,16,6
4,2012030223,6,away,True,REG,Claude Julien,2,34,28,6,0,0,61.8,10,7

In [23]:
gts['game_id'] = gts['game_id'].astype(str)

In [25]:
gts['team_id'] = gts['team_id'].mul(-1)

In [27]:
gts['game-teamid'] = gts[['game_id', 'team_id']].apply(lambda x: ''.join(x.astype(str)), axis=1)

In [35]:
game = pd.merge(
    gts,
    gp_new,
    how="outer",
    left_index=True,
    right_index=True,
    suffixes=["_gp", "_gts"]
)#.fillna(0).astype(int)

#top_domains_comparison.sort_values("count_2016", ascending=False)

In [36]:
game.head()

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,game-teamid_gp,game-teamid_gts,event
0,2012030221,-3,away,False,OT,John Tortorella,2,35,44,8,3,0,44.8,17,7,2012030221-3,2012030111-2.0,12.0
1,2012030221,-6,home,True,OT,Claude Julien,3,48,51,6,4,1,55.2,4,5,2012030221-6,2012030111-5.0,22.0
2,2012030222,-3,away,False,REG,John Tortorella,2,37,33,11,5,0,51.7,1,4,2012030222-3,2012030112-2.0,13.0
3,2012030222,-6,home,True,REG,Claude Julien,5,32,36,19,1,0,48.3,16,6,2012030222-6,2012030112-5.0,19.0
4,2012030223,-6,away,True,REG,Claude Julien,2,34,28,6,0,0,61.8,10,7,2012030223-6,2012030113-2.0,15.0

In [37]:
#missedshots = pd.read_csv("/Users/sdnan/Documents/Study/Fall 2018/CMPE256/Project/Missedshots.csv")

In [43]:
# missedshots.rename(columns={'event':'Missedshot',
#                           }, 
#                  inplace=True)
 
# print(missedshots.columns)

Index(['game-teamid', 'Missedshot'], dtype='object')

In [44]:
# game1 = pd.merge(
#     game,
#     missedshots,
#     how="outer",
#     left_index=True,
#     right_index=True,
#     suffixes=["_gp", "_missed"]
# )

In [45]:
# game.head()

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,game-teamid_gp,game-teamid_gts,event
0,2012030221,-3,away,False,OT,John Tortorella,2,35,44,8,3,0,44.8,17,7,2012030221-3,2012030111-2.0,12.0
1,2012030221,-6,home,True,OT,Claude Julien,3,48,51,6,4,1,55.2,4,5,2012030221-6,2012030111-5.0,22.0
2,2012030222,-3,away,False,REG,John Tortorella,2,37,33,11,5,0,51.7,1,4,2012030222-3,2012030112-2.0,13.0
3,2012030222,-6,home,True,REG,Claude Julien,5,32,36,19,1,0,48.3,16,6,2012030222-6,2012030112-5.0,19.0
4,2012030223,-6,away,True,REG,Claude Julien,2,34,28,6,0,0,61.8,10,7,2012030223-6,2012030113-2.0,15.0